@import "tailwindcss";
/* Font Configx1 */
* {
  font-family: "MyFont", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MyFont";
  src: url("./assets/Font/ZAIN-mob.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-primary: #0015ff;
  --color-secondry: #3344FF;
  --color-service-primary : #CCD0FF;
}
/* Hero Section */
.hero-value{
  font-weight: 100;
}

/* Services Section */
#services {
  background-color: #020617;
  background-image: radial-gradient(
    circle at 50% 50%,
    rgba(30, 64, 175, 0.561) 0%,
    rgba(2, 6, 23, 1) 70%
  );
}

.service-action-btn{
  font-size: 10px;
  font-weight: 100;
}

/* CTA Section */
/* 
.CTA-text{
  word-spacing: 0.2em;
} */