@import "tailwindcss";
/* Google Font */
*{
      font-family: "Amiri", serif;
  font-weight: 600;
  font-style: normal;
}

.hero{
    background: #fdfaff;
background: linear-gradient(335deg, rgba(253, 250, 255, 0.703) 10%, rgba(48, 29, 253, 0.222) 57%, rgb(255, 255, 255) 80%);
}


#services{
    background-color: #020617; 
  
  background-image: radial-gradient(
    circle at 50% 50%, 
    rgba(30, 64, 175, 0.561) 0%,   
    rgba(2, 6, 23, 1) 70%        
  );
}